#container {
  background-color: #F1EFEB;
  box-shadow: none;
}

.main__container {
  padding-bottom: 20px !important;
}

@media (max-width: 735px) {
  .main__container {
    margin: 15px;
  }
}
.hover {
  transition-duration: 0.3s;
}
.hover:hover {
  background-color: #eee;
  opacity: 1;
}
.hover:hover .hover__img {
  transform: scale(105%);
}

.img__container {
  display: inline-block;
  overflow: hidden;
}
.img__container > img {
  display: block;
  transition-duration: 0.3s;
}

.hover2:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.hover3:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.header__bottom {
  position: relative;
}

.notojp {
  font-family: "Noto Sans JP", sans-serif;
  color: #294762;
}

.header__navber .header__nav__pc {
  border-bottom: 7px solid #fff;
  max-width: 1000px;
  display: flex;
  background-color: #E6EDF0;
}
.header__navber .header__nav__pc li {
  display: table;
  border-right: 2px solid #FFF;
  text-align: center;
}
.header__navber .header__nav__pc li:nth-child(5) {
  border-right: none;
}
.header__navber .header__nav__pc li a {
  display: table-cell;
  vertical-align: middle;
  line-height: 15px;
}
.header__navber .nav {
  width: 18.3%;
  font-size: 90%;
  border-bottom: 3px solid #D8E0E3;
}
.header__navber .nav__top {
  width: 26.7%;
}
.header__navber .nav__top img {
  width: 100%;
}
.header__navber .header__nav__sp__container {
  background-color: #E6EDF0;
  border-bottom: 3px solid #3A55CC;
  width: 100vw;
}
.header__navber .header__nav__sp__container .header__nav__sp {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.header__navber .header__nav__sp__container .header__nav__sp li:nth-child(1) {
  width: 65%;
  margin: 3% 5% 1% 0;
}
.header__navber .header__nav__sp__container .header__nav__sp li:nth-child(2) {
  width: 23%;
  margin: auto 7% 0 0;
  position: relative;
  cursor: pointer;
}
.header__navber .header__nav__sp__container .header__nav__sp li:nth-child(2)::after {
  position: absolute;
  content: "";
  background-image: url(../images/header-sidebar-footer/nav-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 27%;
  width: 18%;
  margin-left: 15%;
  bottom: 45%;
  transform: rotate(90deg);
}
.header__navber .header__nav__sp__container .header__nav__sp li:nth-child(2) img {
  width: 70%;
}
.header__navber .header__nav__sp__container .header__nav__sp li img {
  vertical-align: inherit;
}

.fixed__sp {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav__float__sp {
  position: absolute;
  width: 100%;
}

.fixed__pc {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 1000px;
  inset: 0;
  margin: 0 auto;
  height: 55px;
}
.fixed__pc .header__nav__pc {
  border-bottom: none;
}

.nav__float__pc {
  position: absolute;
  width: 100%;
}

.nav__menu {
  background-color: #E6EDF0 !important;
  padding: 10px 0 55px 0;
}
.nav__menu h3 {
  height: 36px;
  background-color: #9296AD;
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  padding: 0 25px;
  line-height: 36px;
}
.nav__menu ul li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 45px;
  padding: 0 25px;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #C2D2D9;
}
.nav__menu ul li:last-child {
  border-bottom: none;
}
.nav__menu ul li a span {
  font-size: 11px;
}

.trend__hero {
  margin-top: 27px;
  margin-bottom: 32px;
}

.trend__hero__sp {
  -o-object-fit: contain;
     object-fit: contain;
  width: calc(100% + 50px);
  transform: translate(-25px, -10px);
}

.trend__description__container__pc {
  background-color: #fff;
  padding: 20px 20px 20px;
}
.trend__description__container__pc .description__top {
  display: flex;
  width: 100%;
}
.trend__description__container__pc .description__top img {
  width: 49%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 18px;
}
.trend__description__container__pc .description__top .description__top__right {
  margin-left: 20px;
  width: 51%;
}
.trend__description__container__pc .description__top .description__top__right h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 15px 0;
  letter-spacing: 4px;
}
.trend__description__container__pc .description__top .description__top__right p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2.5px;
}
.trend__description__container__pc .description__bottom {
  display: flex;
  justify-content: space-between;
  width: 93.5%;
  margin: 10px auto 0;
}
.trend__description__container__pc .description__bottom a {
  width: 27.5%;
  padding: 20px;
  border: 1px solid #C1C1C1;
}
.trend__description__container__pc .description__bottom a li {
  display: flex;
  flex-direction: column;
  height: 250px;
}
.trend__description__container__pc .description__bottom a li h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}
.trend__description__container__pc .description__bottom a li .description__button__pc {
  width: 60%;
  margin: auto auto 0;
  transition-duration: 0.2s;
}
.trend__description__container__pc .description__supplement {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: #35516B;
}

.trend__description__container__sp {
  margin: 10px 0;
  padding: 20px;
  background-color: #fff;
}
.trend__description__container__sp img {
  width: 100%;
}
.trend__description__container__sp .description__top__text__sp {
  width: 100%;
  height: 100%;
  display: block;
}
.trend__description__container__sp .description__top__text__sp h3 {
  font-size: calc(6.5vw - 5px);
  font-weight: bold;
  margin: 5% 0 2%;
}
.trend__description__container__sp .description__top__text__sp p {
  font-size: calc(4.5vw - 5px);
}
.trend__description__container__sp .description__bottom__sp {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trend__description__container__sp .description__bottom__sp li {
  width: 42%;
  padding: 3%;
  border: 1px solid #C1C1C1;
}
.trend__description__container__sp .description__bottom__sp li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.trend__description__container__sp .description__bottom__sp li a h2 {
  font-size: calc(4vw - 2px);
  font-weight: bold;
  margin: 5% 0;
}
.trend__description__container__sp .description__bottom__sp li a img {
  width: 90%;
  display: block;
  margin: auto auto 0;
}
.trend__description__container__sp .description__bottom__sp li:nth-child(3) {
  margin-top: 3.5%;
}
.trend__description__container__sp .description__supplement__sp {
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  font-size: 3vw;
}

.middle__banner {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.middle__banner li {
  width: 50%;
  margin: 0 2.5px;
}

.middle__banner__sp {
  width: calc(100% + 50px);
  transform: translateX(-25px);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.middle__banner__sp li {
  width: 49.5%;
}

.contents {
  padding: 20px 25px;
  background-color: #fff;
  margin: 40px 0 30px;
}

.contents__title {
  background-color: #343D83;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.contents__text {
  font-size: 12px;
  margin: 15px 0;
}

.summary__wrapper,
.lead__wrapper,
.detail__wrapper {
  display: flex;
  justify-content: space-between;
}
.summary__wrapper .summary__lead,
.summary__wrapper .lead__lead,
.summary__wrapper .detail__lead,
.lead__wrapper .summary__lead,
.lead__wrapper .lead__lead,
.lead__wrapper .detail__lead,
.detail__wrapper .summary__lead,
.detail__wrapper .lead__lead,
.detail__wrapper .detail__lead {
  width: 29.2%;
  padding: 20px;
  border: 1px solid #C1C1C1;
}
.summary__wrapper .summary__lead a,
.summary__wrapper .lead__lead a,
.summary__wrapper .detail__lead a,
.lead__wrapper .summary__lead a,
.lead__wrapper .lead__lead a,
.lead__wrapper .detail__lead a,
.detail__wrapper .summary__lead a,
.detail__wrapper .lead__lead a,
.detail__wrapper .detail__lead a {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.summary__wrapper .summary__lead a h2,
.summary__wrapper .lead__lead a h2,
.summary__wrapper .detail__lead a h2,
.lead__wrapper .summary__lead a h2,
.lead__wrapper .lead__lead a h2,
.lead__wrapper .detail__lead a h2,
.detail__wrapper .summary__lead a h2,
.detail__wrapper .lead__lead a h2,
.detail__wrapper .detail__lead a h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}
.summary__wrapper .summary__lead a p,
.summary__wrapper .lead__lead a p,
.summary__wrapper .detail__lead a p,
.lead__wrapper .summary__lead a p,
.lead__wrapper .lead__lead a p,
.lead__wrapper .detail__lead a p,
.detail__wrapper .summary__lead a p,
.detail__wrapper .lead__lead a p,
.detail__wrapper .detail__lead a p {
  color: #294762;
}
.summary__wrapper .summary__lead a .summary__button__pc,
.summary__wrapper .summary__lead a .lead__button__pc,
.summary__wrapper .summary__lead a .detail__button__pc,
.summary__wrapper .lead__lead a .summary__button__pc,
.summary__wrapper .lead__lead a .lead__button__pc,
.summary__wrapper .lead__lead a .detail__button__pc,
.summary__wrapper .detail__lead a .summary__button__pc,
.summary__wrapper .detail__lead a .lead__button__pc,
.summary__wrapper .detail__lead a .detail__button__pc,
.lead__wrapper .summary__lead a .summary__button__pc,
.lead__wrapper .summary__lead a .lead__button__pc,
.lead__wrapper .summary__lead a .detail__button__pc,
.lead__wrapper .lead__lead a .summary__button__pc,
.lead__wrapper .lead__lead a .lead__button__pc,
.lead__wrapper .lead__lead a .detail__button__pc,
.lead__wrapper .detail__lead a .summary__button__pc,
.lead__wrapper .detail__lead a .lead__button__pc,
.lead__wrapper .detail__lead a .detail__button__pc,
.detail__wrapper .summary__lead a .summary__button__pc,
.detail__wrapper .summary__lead a .lead__button__pc,
.detail__wrapper .summary__lead a .detail__button__pc,
.detail__wrapper .lead__lead a .summary__button__pc,
.detail__wrapper .lead__lead a .lead__button__pc,
.detail__wrapper .lead__lead a .detail__button__pc,
.detail__wrapper .detail__lead a .summary__button__pc,
.detail__wrapper .detail__lead a .lead__button__pc,
.detail__wrapper .detail__lead a .detail__button__pc {
  width: 60%;
  margin: auto auto 0;
  transition-duration: 0.2s;
}
.summary__wrapper .summary__container,
.summary__wrapper .lead__container,
.summary__wrapper .detail__container,
.lead__wrapper .summary__container,
.lead__wrapper .lead__container,
.lead__wrapper .detail__container,
.detail__wrapper .summary__container,
.detail__wrapper .lead__container,
.detail__wrapper .detail__container {
  width: 64.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.summary__wrapper .summary__container .detail__list,
.summary__wrapper .lead__container .detail__list,
.summary__wrapper .detail__container .detail__list,
.lead__wrapper .summary__container .detail__list,
.lead__wrapper .lead__container .detail__list,
.lead__wrapper .detail__container .detail__list,
.detail__wrapper .summary__container .detail__list,
.detail__wrapper .lead__container .detail__list,
.detail__wrapper .detail__container .detail__list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.summary__wrapper .summary__container li,
.summary__wrapper .lead__container li,
.summary__wrapper .detail__container li,
.lead__wrapper .summary__container li,
.lead__wrapper .lead__container li,
.lead__wrapper .detail__container li,
.detail__wrapper .summary__container li,
.detail__wrapper .lead__container li,
.detail__wrapper .detail__container li {
  width: 45%;
  padding: 10px;
  border: 1px solid #C1C1C1;
}
.summary__wrapper .summary__container li:nth-child(3), .summary__wrapper .summary__container li:nth-child(4),
.summary__wrapper .lead__container li:nth-child(3),
.summary__wrapper .lead__container li:nth-child(4),
.summary__wrapper .detail__container li:nth-child(3),
.summary__wrapper .detail__container li:nth-child(4),
.lead__wrapper .summary__container li:nth-child(3),
.lead__wrapper .summary__container li:nth-child(4),
.lead__wrapper .lead__container li:nth-child(3),
.lead__wrapper .lead__container li:nth-child(4),
.lead__wrapper .detail__container li:nth-child(3),
.lead__wrapper .detail__container li:nth-child(4),
.detail__wrapper .summary__container li:nth-child(3),
.detail__wrapper .summary__container li:nth-child(4),
.detail__wrapper .lead__container li:nth-child(3),
.detail__wrapper .lead__container li:nth-child(4),
.detail__wrapper .detail__container li:nth-child(3),
.detail__wrapper .detail__container li:nth-child(4) {
  margin-top: 2.5%;
}
.summary__wrapper .summary__container li p,
.summary__wrapper .lead__container li p,
.summary__wrapper .detail__container li p,
.lead__wrapper .summary__container li p,
.lead__wrapper .lead__container li p,
.lead__wrapper .detail__container li p,
.detail__wrapper .summary__container li p,
.detail__wrapper .lead__container li p,
.detail__wrapper .detail__container li p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #294762;
  height: 60px;
  text-align: center;
  letter-spacing: 2.5px;
  display: grid;
  place-items: center center;
}
.summary__wrapper .summary__container li p span,
.summary__wrapper .lead__container li p span,
.summary__wrapper .detail__container li p span,
.lead__wrapper .summary__container li p span,
.lead__wrapper .lead__container li p span,
.lead__wrapper .detail__container li p span,
.detail__wrapper .summary__container li p span,
.detail__wrapper .lead__container li p span,
.detail__wrapper .detail__container li p span {
  font-size: 11px;
}

.contents__sp {
  background-color: #fff;
  margin: 20px 0;
}

.contents__title__sp {
  font-size: 4.5vw;
  font-weight: bold;
  background-color: #343D83;
  padding: 5%;
  color: #fff;
}

.contents__text__sp {
  font-size: calc(4.1vw - 2px);
  padding: 5% 5% 0;
}

.summary__lead__sp,
.lead__lead__sp,
.detail__lead__sp {
  display: flex;
  width: 80%;
  padding: 5%;
  margin: 5% 5% 0;
  justify-content: space-between;
  border: 1px solid #C1C1C1;
}
.summary__lead__sp .summary__lead__img__sp,
.summary__lead__sp .lead__lead__img__sp,
.summary__lead__sp .detail__lead__img__sp,
.lead__lead__sp .summary__lead__img__sp,
.lead__lead__sp .lead__lead__img__sp,
.lead__lead__sp .detail__lead__img__sp,
.detail__lead__sp .summary__lead__img__sp,
.detail__lead__sp .lead__lead__img__sp,
.detail__lead__sp .detail__lead__img__sp {
  width: 50%;
}
.summary__lead__sp .summary__lead__text__sp,
.summary__lead__sp .lead__lead__text__sp,
.summary__lead__sp .detail__lead__text__sp,
.lead__lead__sp .summary__lead__text__sp,
.lead__lead__sp .lead__lead__text__sp,
.lead__lead__sp .detail__lead__text__sp,
.detail__lead__sp .summary__lead__text__sp,
.detail__lead__sp .lead__lead__text__sp,
.detail__lead__sp .detail__lead__text__sp {
  width: 45%;
}
.summary__lead__sp .summary__lead__text__sp > p,
.summary__lead__sp .lead__lead__text__sp > p,
.summary__lead__sp .detail__lead__text__sp > p,
.lead__lead__sp .summary__lead__text__sp > p,
.lead__lead__sp .lead__lead__text__sp > p,
.lead__lead__sp .detail__lead__text__sp > p,
.detail__lead__sp .summary__lead__text__sp > p,
.detail__lead__sp .lead__lead__text__sp > p,
.detail__lead__sp .detail__lead__text__sp > p {
  font-size: calc(4.1vw - 2px);
  color: #294762;
}

.summary__container__sp,
.lead__container__sp,
.detail__container__sp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3% 5% 5%;
  align-items: stretch;
}
.summary__container__sp li,
.lead__container__sp li,
.detail__container__sp li {
  width: 42%;
  padding: 3%;
  border: 1px solid #C1C1C1;
}
.summary__container__sp li a,
.lead__container__sp li a,
.detail__container__sp li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.summary__container__sp li a .summary__container__text__sp,
.summary__container__sp li a .lead__container__text__sp,
.summary__container__sp li a .detail__container__text__sp,
.lead__container__sp li a .summary__container__text__sp,
.lead__container__sp li a .lead__container__text__sp,
.lead__container__sp li a .detail__container__text__sp,
.detail__container__sp li a .summary__container__text__sp,
.detail__container__sp li a .lead__container__text__sp,
.detail__container__sp li a .detail__container__text__sp {
  margin: 3% 0;
  font-size: calc(4vw - 2px);
  color: #294762;
  font-weight: bold;
  display: grid;
  place-items: center center;
  text-align: center;
}
.summary__container__sp li:nth-child(3), .summary__container__sp li:nth-child(4),
.lead__container__sp li:nth-child(3),
.lead__container__sp li:nth-child(4),
.detail__container__sp li:nth-child(3),
.detail__container__sp li:nth-child(4) {
  margin-top: 3%;
}

.outline__container__pc {
  background-color: #fff;
  padding: 30px 30px 30px;
}
.outline__container__pc h2 {
  margin: 0 auto;
  width: 420px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #343D83;
  background-image: url(../images/article/outline-title-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.outline__container__pc .outline__contents__pc {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc {
  background-color: #DEF0F7;
  padding: 15px 20px 20px;
  width: calc(100% - 40px);
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc a {
  cursor: pointer;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc a:hover {
  opacity: 0.7;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc img {
  margin-top: 10px;
  width: 235.3px;
  margin: 10px auto;
  display: block;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc span {
  font-size: 10px;
  text-align: center;
  display: block;
  margin: 5px 0;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc ul {
  height: 86.59px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc ul li {
  font-size: 12px;
  width: 100%;
  margin: 5px 0;
  letter-spacing: 1px;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc {
  background-color: #FFFDE2;
  border-radius: 5px;
  padding: 5px 0;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc label {
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  letter-spacing: 3px;
  cursor: pointer;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc p {
  font-size: 12px;
  color: #294762;
  text-align: center;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc p span {
  font-size: 8px;
  color: #4B9FFF;
  position: relative;
  display: inline;
  padding: 0 10px;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc p span::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url(../images/article/question.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 3%;
  bottom: 6%;
}
.outline__container__pc .outline__contents__pc .outline__wrapper__pc .outline__button__pc p span::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url(../images/article/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0%;
  bottom: 6%;
}
.outline__container__pc .outline__contents__pc li:nth-child(1) {
  width: 31.79%;
}
.outline__container__pc .outline__contents__pc li:nth-child(1) .outline__img1__pc {
  width: 100%;
}
.outline__container__pc .outline__contents__pc li:nth-child(2) {
  width: 65.9%;
}
.outline__container__pc .outline__img2__pc {
  display: flex;
  justify-content: space-between;
}
.outline__container__pc .outline__img2__pc img {
  width: 48.3%;
}

.outline__container__sp {
  padding: 5%;
  background-color: #fff;
  margin-top: 21px;
}
.outline__container__sp h2 {
  font-size: calc(18px + 25 * (100vw - 320px) / 735);
  font-weight: bold;
  color: #343D83;
  text-align: center;
  background-image: url(../images/article/outline-title-sp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-bottom: 3%;
}
.outline__container__sp .outline__contents__sp li {
  margin-top: 5%;
}
.outline__container__sp .outline__contents__sp .outline__img1__sp img {
  width: 100%;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp {
  background-color: #DEF0F7;
  padding-bottom: 5%;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp label {
  font-size: calc(14px + 21 * (100vw - 320px) / 735);
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 5%;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp span {
  font-size: calc(8px + 15 * (100vw - 320px) / 735);
  text-align: center;
  display: block;
  margin-top: 2%;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp ul {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp ul li {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp .outline__button__sp {
  background-color: #FFFDE2;
  border-radius: 5px;
  padding: 5px 0;
  width: 90%;
  margin: 0 auto;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp .outline__button__sp label {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  font-weight: bold;
  color: #343D83;
  letter-spacing: 3px;
  cursor: pointer;
}
.outline__container__sp .outline__contents__sp .outline__wrapper__sp .outline__button__sp p {
  font-size: calc(10px + 17 * (100vw - 320px) / 735);
  color: #294762;
  text-align: center;
}

.description__container__pc {
  background-color: #fff;
  padding: 30px 30px 30px;
  margin-top: 30px;
}
.description__container__pc h2 {
  margin: 0 auto;
  width: 420px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #343D83;
  background-image: url(../images/article/description-title-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.description__container__pc .description__contents__pc {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.description__container__pc .description__contents__pc li {
  width: 31.79%;
}
.description__container__pc .description__contents__pc .description__wrapper__pc {
  background-color: #DEF0F7;
  padding: 15px 20px 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 680px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc a {
  cursor: pointer;
}
.description__container__pc .description__contents__pc .description__wrapper__pc a:hover {
  opacity: 0.7;
}
.description__container__pc .description__contents__pc .description__wrapper__pc label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
}
.description__container__pc .description__contents__pc .description__wrapper__pc img {
  margin-top: 10px;
  width: 235.3px;
  margin: 10px auto 5px;
  display: block;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__img__pc {
  font-size: 10px;
  text-align: right;
  display: block;
  margin: 0;
}
.description__container__pc .description__contents__pc .description__wrapper__pc ul {
  margin: 10px 0 5px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc ul li {
  font-size: 12px;
  width: 100%;
  margin: 5px 0;
  letter-spacing: 2px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc span {
  font-size: 10px;
  display: block;
  margin: 5px 0 10px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc a {
  margin-top: auto;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc {
  background-color: #FFFDE2;
  border-radius: 5px;
  padding: 5px 0;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc label {
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  letter-spacing: 3px;
  margin-bottom: -6px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc p {
  font-size: 12px;
  color: #294762;
  text-align: center;
  margin: auto;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc .description__button__inner__pc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc .description__button__inner__pc p {
  margin-top: 0;
  line-height: 14px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc .description__button__inner__pc span {
  margin: 0 15px 0 5px;
  color: #294762;
  position: relative;
  line-height: 14px;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc .description__button__inner__pc span::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: -17%;
  bottom: 6%;
  background-image: url(../images/article/parentheses-1-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.description__container__pc .description__contents__pc .description__wrapper__pc .description__button__pc .description__button__inner__pc span::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: -23%;
  bottom: 6%;
  background-image: url(../images/article/parentheses-2-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.description__container__sp {
  padding: 5%;
  background-color: #fff;
  margin: 25px 0 0;
}
.description__container__sp h2 {
  font-size: calc(18px + 25 * (100vw - 320px) / 735);
  font-weight: bold;
  color: #343D83;
  text-align: center;
  background-image: url(../images/article/description-title-sp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-bottom: -2%;
}
.description__container__sp .description__contents__sp li {
  margin-top: 5%;
}
.description__container__sp .description__contents__sp .description__img__sp img {
  width: 100%;
}
.description__container__sp .description__contents__sp .description__wrapper__sp {
  background-color: #DEF0F7;
  padding-bottom: 3%;
}
.description__container__sp .description__contents__sp .description__wrapper__sp label {
  font-size: calc(14px + 21 * (100vw - 320px) / 735);
  font-weight: bold;
  display: block;
  text-align: center;
}
.description__container__sp .description__contents__sp .description__wrapper__sp img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.description__container__sp .description__contents__sp .description__wrapper__sp .description__img__pc {
  font-size: calc(8px + 15 * (100vw - 320px) / 735);
  text-align: center;
  display: block;
  margin-top: 2%;
}
.description__container__sp .description__contents__sp .description__wrapper__sp ul {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.description__container__sp .description__contents__sp .description__wrapper__sp ul li {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
}
.description__container__sp .description__contents__sp .description__wrapper__sp span {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  text-align: left;
}
.description__container__sp .description__contents__sp .description__wrapper__sp .description__button__sp {
  background-color: #FFFDE2;
  border-radius: 5px;
  padding: 5px 0;
  width: 90%;
  margin: 5% auto 3%;
}
.description__container__sp .description__contents__sp .description__wrapper__sp .description__button__sp label {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  font-weight: bold;
  color: #343D83;
  letter-spacing: 3px;
}
.description__container__sp .description__contents__sp .description__wrapper__sp .description__button__sp p {
  font-size: calc(10px + 17 * (100vw - 320px) / 735);
  color: #294762;
  text-align: center;
}
.description__container__sp .description__contents__sp .description__wrapper__sp .description__button__sp span {
  font-size: calc(10px + 17 * (100vw - 320px) / 735);
  margin: 0 auto;
  display: block;
  color: #294762;
  text-align: center;
}

.support__container__pc {
  background-color: #fff;
  padding: 30px 30px 30px;
  margin: 20px 0;
}
.support__container__pc .support__span__pc {
  font-size: 11px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.support__container__pc h2 {
  margin: 0 auto;
  width: 420px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #343D83;
  background-image: url(../images/article/support-title-pc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.support__container__pc .support__contents__pc {
  display: flex;
  justify-content: space-between;
}
.support__container__pc .support__contents__pc li {
  width: 31.79%;
}
.support__container__pc .support__contents__pc li .support__text {
  background-color: #DEF0F7;
  padding: 15px 20px;
  height: 290px;
}
.support__container__pc .support__contents__pc li .support__text label {
  font-size: 13px;
  font-weight: bold;
}
.support__container__pc .support__contents__pc li .support__text li {
  width: 100%;
  font-size: 12px;
  letter-spacing: 2px;
}

.support__container__sp {
  padding: 5%;
  background-color: #fff;
  margin: 25px 0 0;
}
.support__container__sp h2 {
  font-size: calc(18px + 25 * (100vw - 320px) / 735);
  font-weight: bold;
  color: #343D83;
  text-align: center;
  background-image: url(../images/article/support-title-sp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-bottom: 3%;
}
.support__container__sp .support__span__sp {
  display: block;
  font-size: calc(10px + 17 * (100vw - 320px) / 735);
}
.support__container__sp .support__contents__sp li {
  margin-top: 5%;
  background-color: #DEF0F7;
}
.support__container__sp .support__contents__sp .support__img__sp img {
  width: 100%;
}
.support__container__sp .support__contents__sp label {
  font-size: calc(14px + 21 * (100vw - 320px) / 735);
  font-weight: bold;
  display: block;
  text-align: center;
}
.support__container__sp .support__contents__sp img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.support__container__sp .support__contents__sp .support__img__sp {
  font-size: calc(8px + 15 * (100vw - 320px) / 735);
  text-align: center;
  display: block;
  margin-top: 2%;
}
.support__container__sp .support__contents__sp .support__text__sp {
  display: block;
  padding: 5%;
}
.support__container__sp .support__contents__sp .support__text__sp li {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  margin-top: 5px;
}
.support__container__sp .support__contents__sp .support__text__sp label {
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  font-weight: bold;
  text-align: left;
  margin: 10px 0;
}
.support__container__sp .support__contents__sp span {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: calc(12px + 19 * (100vw - 320px) / 735);
  text-align: left;
}

.bottom__label__pc {
  color: #343D83;
  font-size: 13px;
  text-align: center;
  display: block;
  letter-spacing: 2px;
}

.bottom__label__sp {
  color: #343D83;
  font-size: calc(10px + 17 * (100vw - 320px) / 735);
  text-align: center;
  display: block;
  letter-spacing: 2px;
  margin-top: 5%;
}

.side-banner {
  display: flex;
  flex-flow: column;
  height: 100%;
  left: 0;
  top: 0;
  right: auto;
  justify-content: center;
}
.side-banner ul {
  height: 90%;
}
.side-banner ul li {
  max-width: 60px;
  min-width: 30px;
  max-height: 386px;
  height: 48%;
  width: auto;
}
.side-banner ul li:nth-child(2) {
  margin-top: 10px;
}
.side-banner ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.footer__banner {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__banner li {
  width: 35%;
  margin: 0 2.5px;
}

.footer__li {
  width: 83%;
  margin: 5% auto 0;
  display: flex;
  justify-content: space-between;
}
.footer__li li a:link {
  color: #707070;
}
.footer__li li:nth-child(1) a {
  color: #294762;
  font-weight: 600;
}

.footer__bottom {
  margin: 2% auto 5%;
  text-align: center;
  position: relative;
  color: #707070;
}
.footer__bottom a:link {
  color: #707070;
  border-bottom: 1px solid #707070;
}
.footer__bottom:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -40px;
  display: inline-block;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  background-color: #707070;
}

.copyright {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: #707070;
}
.copyright a:link {
  color: #707070;
}

#footer {
  padding: 8px 0 0;
  margin: 0;
}

.footer__banner__sp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.footer__banner__sp li {
  width: 49.5%;
}

.footer__li__sp__top li a {
  color: #294762;
  font-weight: 900;
}

.footer__li__sp {
  display: flex;
  justify-content: space-around;
  margin: auto 20px;
}
.footer__li__sp li {
  border-bottom: none !important;
  margin-top: 10px;
}
.footer__li__sp li a {
  color: #707070;
}

.footer__bottom__sp {
  margin: 10px auto 0;
  padding-bottom: 10px;
  font-size: 11px;
  letter-spacing: -1px;
  text-align: center;
  color: #707070;
  border-bottom: 1px solid #294762;
}
.footer__bottom__sp a:link {
  color: #707070;
  border-bottom: 1px solid #707070;
}

.copyright__sp {
  padding: 10px 0;
  text-align: center;
}

.sidebar__left__close {
  background: none !important;
  color: #333 !important;
  cursor: pointer;
}/*# sourceMappingURL=top-article.css.map */