#container {
    background-color: #F1EFEB;
    box-shadow: none;
}

.main__container {
    padding-bottom: 20px!important;
}

@media (max-width: 735px) {
    .main__container {
        margin: 15px;
    }
}

.hover{
    transition-duration: .3s;

    &:hover {
    background-color: #eee;
    opacity: 1;

        .hover__img {
        transform: scale(105%);
        }
    }
}

.img__container {
    display: inline-block;
    overflow: hidden;

    >img {
        display: block;
        transition-duration: .3s;
    }
}

.hover2:hover {
    opacity: 0.6;
    transition-duration: .3s;
}

.hover3:hover {
    opacity: 0.8;
    transition-duration: .5s;
}

// ========================  header  ===========================
// =============================================================
// =============================================================
// =============================================================


.header__bottom {
    position: relative;
}

.notojp {
    font-family: 'Noto Sans JP', sans-serif;
    color: #294762;
}

.header__navber {
    .header__nav__pc {
        border-bottom: 7px solid #fff;
        max-width: 1000px;
        display: flex;
        background-color: #E6EDF0;
        
        li {
            display: table;
            border-right: 2px solid #FFF;
            text-align: center;

            &:nth-child(5) {
                border-right: none;
            }

            a {
                display: table-cell;            
                vertical-align: middle;
                line-height: 15px;
            }
        }
    }

    .nav {
        width: 18.3%;
        font-size: 90%;
        border-bottom: 3px solid #D8E0E3;
    }

    .nav__top {
        width: 26.7%;

        img {
            width: 100%;
        }
    }

    .header__nav__sp__container { 
        background-color: #E6EDF0;
        border-bottom: 3px solid #3A55CC;
        width: 100vw;

        .header__nav__sp {
            width: 80%;
            margin: 0 auto;
            display: flex;

            li:nth-child(1) {
                width: 65%;
                margin: 3% 5% 1% 0;
            }
            li:nth-child(2) {
                width: 23%;
                margin: auto 7% 0 0;
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/header-sidebar-footer/nav-arrow.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 27%;
                    width: 18%;
                    margin-left: 15%;
                    bottom: 45%;
                    transform: rotate(90deg);
                }

                img {
                    width: 70%;
                }
                
            }


            li img {
                vertical-align: inherit;
            }
        }
    }
}

.fixed__sp {
	left: 0;
	position: fixed;
	top: 0;
    z-index: 9999;
}
.nav__float__sp {
    position: absolute;
    width: 100%;
}

.fixed__pc {
	position: fixed;
	top: 0;
    z-index: 9999;
    width: 1000px;
    inset: 0;
    margin: 0 auto;
    height: 55px;

    .header__nav__pc {
        border-bottom: none;
    }
}
.nav__float__pc {
    position: absolute;
    width: 100%;
}

.nav__menu {
    background-color: #E6EDF0!important;
    padding: 10px 0 55px 0;
    h3 {
        height: 36px;
        background-color: #9296AD;
        font-size: 16px;
        color: #FFF;
        font-weight: 600;
        padding: 0 25px;
        line-height: 36px;
    }
    ul {
        li {
            display: flex;
            flex-flow: column;
            justify-content: center;
            height: 45px;
            padding: 0 25px;
            font-size: 14px;
            line-height: 16px;
            border-bottom: 1px solid #C2D2D9;
            &:last-child {
                border-bottom: none;
            }

            a span {
                font-size: 11px;
            }
        }
    }
}


// ===========================  hero  =======================================
// ==========================================================================
// ==========================================================================
// ==========================================================================

.trend__hero {
    margin-top: 27px;
    margin-bottom: 32px;
}

.trend__hero__sp {
    object-fit: contain;
    width: calc(100% + 50px);
    transform: translate(-25px,-10px);
}



// ===========================  top_description  ============================
// ==========================================================================
// ==========================================================================
// ==========================================================================

.trend__description__container__pc {
    background-color: #fff;
    padding: 20px 20px 20px;

    .description__top {
        display: flex;
        width: 100%;

        img {
            width: 49%;
            object-fit: contain;
            margin-top: 18px;
        }

        .description__top__right {
            margin-left: 20px;
            width: 51%;

            h3 {
                font-size: 23px;
                font-weight: bold;
                margin: 15px 0;
                letter-spacing: 4px;
            }

            p {
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 2.5px;
            }
        }
    }

    .description__bottom {
        display: flex;
        justify-content: space-between;
        width: 93.5%;
        margin: 10px auto 0;
        a {
            width: 27.5%;
            padding: 20px;
            border: 1px solid #C1C1C1;

            li {
                display: flex;
                flex-direction: column;
                height: 250px;


                h2 {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 10px 0;
                }

                .description__button__pc {
                    width: 60%;
                    margin: auto auto 0;
                    transition-duration: .2s;
                }
            }
        }
    }

    .description__supplement {
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: right;
        color: #35516B;
    }
}

.trend__description__container__sp {
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;

    img {
        width: 100%;
    }

    .description__top__text__sp {
        width: 100%;
        height: 100%;
        display: block;
        h3 {
            font-size: calc(6.5vw - 5px);
            font-weight: bold;
            margin: 5% 0 2%;
        }

        p {
            font-size: calc(4.5vw - 5px);
        }
    }

    .description__bottom__sp {
        
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 42%;
            padding: 3%;
            border: 1px solid #C1C1C1;

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                h2 {
                    font-size: calc(4vw - 2px);
                    font-weight: bold;
                    margin: 5% 0;
                }


                img {
                    width: 90%;
                    display: block;
                    margin: auto auto 0;
                }

            }
            &:nth-child(3) {
                margin-top: 3.5%;
            }

        }
    }
    .description__supplement__sp {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        font-size: 3vw;
    }

}


// ===========================  top_middle banner  =========================
// =========================================================================
// =========================================================================
// =========================================================================

.middle__banner {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    li {
        width: 50%;
        margin: 0 2.5px;
    }
}

.middle__banner__sp {
    width: calc(100% + 50px);
    transform: translateX(-25px);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    li {
        width: 49.5%;
    }
}


// ===========================  top_contents  ==================================
// =========================================================================
// =========================================================================
// =========================================================================

.contents {
    padding: 20px 25px;
    background-color: #fff;
    margin: 40px 0 30px;
}

.contents__title {
    background-color: #343D83;
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.contents__text {
    font-size: 12px;
    margin: 15px 0;
}
.summary__wrapper,
.lead__wrapper,
.detail__wrapper {
    display: flex;
    justify-content: space-between;

    .summary__lead,
    .lead__lead,
    .detail__lead {
        width: 29.2%;
        padding: 20px;
        border: 1px solid #C1C1C1;

        a {
            height: 100%;
            display: flex;
            flex-direction: column;
            

            h2 {
                font-size: 14px;
                font-weight: bold;
                margin: 10px 0;
                text-align: center;
            }

            p {
                color: #294762;
            }

            .summary__button__pc,
            .lead__button__pc,
            .detail__button__pc {
                width: 60%;
                margin: auto auto 0;
                transition-duration: .2s;
            }
        }
    }
    .summary__container,
    .lead__container,
    .detail__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 30%;
            padding: 10px;
            border: 1px solid #C1C1C1;
            margin-right: 1%;
            height: 244px;

            &:nth-child(3) {
                margin-right: 0;
            }

            &:nth-child(4),
            &:nth-child(5) {
                margin-top: 1%;
            }

            a {

                p {
                    font-size: 14px;
                    font-weight: bold;
                    color: #294762;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    text-align: center;


                    span {
                        font-size: 11px;
                    }
                }
            }

        }
    }

    .detail__container li {

        height: 268px;
    }

}


.contents__sp {
    background-color: #fff;
    margin: 20px 0;
}

.contents__title__sp {
    font-size: calc(4.5vw);
    font-weight: bold;
    background-color: #343D83;
    padding: 5%;
    color: #fff;
}

.contents__text__sp {
    font-size: calc(4.1vw - 2px);
    padding: 5% 5% 0;
}

.summary__lead__sp,
.lead__lead__sp,
.detail__lead__sp {
    display: flex;
    width: 85%;
    padding: 2.5%;
    margin: 5% 5% 0;
    justify-content: space-between;
    border: 1px solid #C1C1C1;

    .summary__lead__img__sp,
    .lead__lead__img__sp,
    .detail__lead__img__sp {
        width: 50%;
    }

    .summary__lead__text__sp,
    .lead__lead__text__sp,
    .detail__lead__text__sp {
        width: 45%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        >h2 {
            font-size: calc(4.1vw - 2px);
            color: #294762;
            font-weight: bold;
        }
    }
}

.summary__container__sp,
.lead__container__sp,
.detail__container__sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 5% 5%;
    align-items: stretch;

    li {
        width: 42%;
        padding: 3%;
        border: 1px solid #C1C1C1;

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .summary__container__text__sp,
            .lead__container__text__sp,
            .detail__container__text__sp {
                margin: 3% 0;
                font-size: calc(4vw - 2px);
                color: #294762;
                font-weight: bold;
                display: grid;
                place-items: center center;
                text-align: center;

            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 3%;
        }
        

    }
}


// ===========================  article_outline  ============================
// ==========================================================================
// ==========================================================================
// ==========================================================================


.outline__container__pc {
    background-color: #fff;
    padding: 30px 30px 30px;
    

    h2 {
        margin: 0 auto;
        width: 420px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #343D83;
        background-image: url(../images/article/outline-title-pc.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }

    .outline__contents__pc {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .outline__wrapper__pc {
            background-color: #DEF0F7;
            padding: 15px 20px 20px;
            width: calc(100% - 40px);

            a {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            label {
                font-size: 14px;
                font-weight: bold;
                display: block;
                text-align: center;
            }

            img {
                margin-top: 10px;
                width: 235.3px;
                margin: 10px auto;
                display: block;
            }
    

            span {
                font-size: 10px;
                text-align: center;
                display: block;
                margin: 5px 0;
            }

            ul {
                height: 86.59px;
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                li {
                font-size: 12px;
                width: 100%;
                margin: 5px 0;
                letter-spacing: 1px;
                }
            }

            .outline__button__pc {
                background-color: #FFFDE2;
                border-radius: 5px;
                padding: 5px 0;

                label {
                    font-size: 14px;
                    font-weight: bold;
                    color: #707070;
                    letter-spacing: 3px;
                    cursor: pointer;
                }

                p {
                    font-size: 12px;
                    color: #294762;
                    text-align: center;


                    span {
                        font-size: 8px;
                        color: #4B9FFF;
                        position: relative;
                        display: inline;
                        padding: 0 10px;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 8px;
                            height: 8px;
                            background-image: url(../images/article/question.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            left: 3%;
                            bottom: 6%;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            width: 8px;
                            height: 8px;
                            background-image: url(../images/article/arrow.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            right: 0%;
                            bottom: 6%;
                        }
                    }
                }
            }
        }

        li:nth-child(1) {
            width: 31.79%;

            .outline__img1__pc {
                width: 100%;
            }
        }

        li:nth-child(2) {
            width: 65.9%;

        }

    }

    .outline__img2__pc {
        display: flex;
        justify-content: space-between;

        img {
            width: 48.3%;
        }
    }
}



.outline__container__sp {
    padding: 5%;
    background-color: #fff;
    margin-top: 21px;

    h2 {
        
        font-size: calc(18px + 25 * ((100vw - 320px) / 735));
        font-weight: bold;
        color: #343D83;
        text-align: center;
        background-image: url(../images/article/outline-title-sp.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        margin-bottom: 3%;
    }

    .outline__contents__sp {

        li {
            margin-top: 5%;
        }

        .outline__img1__sp img {
            width: 100%;
        }

        .outline__wrapper__sp {
            background-color: #DEF0F7;
            padding-bottom: 5%;

            label {
                font-size: calc(14px + 21 * ((100vw - 320px) / 735));

                font-weight: bold;
                display: block;
                text-align: center;
                padding-top: 5%;
            }

            img {
                width: 90%;
                margin: 0 auto;
                display: block;
            }

            span {
                font-size: calc(8px + 15 * ((100vw - 320px) / 735));
                text-align: center;
                display: block;
                margin-top: 2%;
            }

            ul {
                width: 90%;
                margin: 0 auto;
                display: block;
                margin-top: 5%;
                margin-bottom: 5%;
                li {
                    font-size: calc(12px + 19 * ((100vw - 320px) / 735));

                }
            }

            .outline__button__sp {
                background-color: #FFFDE2;
                border-radius: 5px;
                padding: 5px 0;
                width: 90%;
                margin: 0 auto;
                label {
                    font-size: calc(12px + 19 * ((100vw - 320px) / 735));
                    font-weight: bold;
                    color: #343D83;
                    letter-spacing: 3px;
                    cursor: pointer;
                }

                p {
                    font-size: calc(10px + 17 * ((100vw - 320px) / 735));
                    color: #294762;
                    text-align: center;
                }


            }

        }
    }

}




// =====================  article_description  ==============================
// ==========================================================================
// ==========================================================================
// ==========================================================================

.description__container__pc {
    background-color: #fff;
    padding: 30px 30px 30px;
    margin-top: 30px;

    h2 {
        margin: 0 auto;
        width: 420px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #343D83;
        background-image: url(../images/article/description-title-pc.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }

    .description__contents__pc {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        li {
            width: 31.79%;
        }

        .description__wrapper__pc {
            background-color: #DEF0F7;
            padding: 15px 20px 20px;
            width: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: 680px;

            a {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            label {
                font-size: 14px;
                font-weight: bold;
                display: block;
                text-align: center;
            }

            img {
                margin-top: 10px;
                width: 235.3px;
                margin: 10px auto 5px;
                display: block;
            }
    

            .description__img__pc {
                font-size: 10px;
                text-align: right;
                display: block;
                margin: 0;
            }


            ul {
                margin: 10px 0 5px;
                li {
                font-size: 12px;
                width: 100%;
                margin: 5px 0;
                letter-spacing: 2px;
                }
            }
            span {
                font-size: 10px;
                display: block;
                margin: 5px 0 10px;
            }
            a {
                margin-top: auto;
            }

            .description__button__pc {
                background-color: #FFFDE2;
                border-radius: 5px;
                padding: 5px 0;
                height: 50px;
                display: flex;
                flex-direction: column;
                margin-top: auto;

                label {
                    font-size: 14px;
                    font-weight: bold;
                    color: #707070;
                    letter-spacing: 3px;
                    margin-bottom: -6px;
                }

                p {
                    font-size: 12px;
                    color: #294762;
                    text-align: center;
                    margin: auto;
                }

                .description__button__inner__pc {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin-top: 0;
                        line-height: 14px;
                    }

                    span {
                        margin: 0 15px 0 5px;
                        color: #294762;
                        position: relative;
                        line-height: 14px;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 30px;
                            height: 30px;
                            left: -17%;
                            bottom: 6%;
                            background-image: url(../images/article/parentheses-1-pc.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 30px;
                            height: 30px;
                            right: -23%;
                            bottom: 6%;
                            background-image: url(../images/article/parentheses-2-pc.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}


.description__container__sp {
    padding: 5%;
    background-color: #fff;
    margin: 25px 0 0;

    h2 {
        font-size: calc(18px + 25 * ((100vw - 320px) / 735));
        font-weight: bold;
        color: #343D83;
        text-align: center;
        background-image: url(../images/article/description-title-sp.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        margin-bottom: -2%;
    }

    .description__contents__sp {

        li {
            margin-top: 5%;
        }

        .description__img__sp img {
            width: 100%;
        }

        .description__wrapper__sp {
            background-color: #DEF0F7;
            padding-bottom: 3%;

            label {
                font-size: calc(14px + 21 * ((100vw - 320px) / 735));

                font-weight: bold;
                display: block;
                text-align: center;
            }

            img {
                width: 90%;
                margin: 0 auto;
                display: block;
            }

            .description__img__pc {
                font-size: calc(8px + 15 * ((100vw - 320px) / 735));
                text-align: center;
                display: block;
                margin-top: 2%;
            }

            ul {
                width: 90%;
                margin: 0 auto;
                display: block;
                margin-top: 5%;
                margin-bottom: 5%;
                li {
                    font-size: calc(12px + 19 * ((100vw - 320px) / 735));

                }
            }

            span {
                display: block;
                width: 90%;
                margin: 0 auto;
                font-size: calc(12px + 19 * ((100vw - 320px) / 735));
                text-align: left;
            }

            .description__button__sp {
                background-color: #FFFDE2;
                border-radius: 5px;
                padding: 5px 0;
                width: 90%;
                margin: 5% auto 3%;
                label {
                    font-size: calc(12px + 19 * ((100vw - 320px) / 735));
                    font-weight: bold;
                    color: #343D83;
                    letter-spacing: 3px;
                }

                p {
                    font-size: calc(10px + 17 * ((100vw - 320px) / 735));
                    color: #294762;
                    text-align: center;
                }


                span {
                    font-size: calc(10px + 17 * ((100vw - 320px) / 735));
                    margin: 0 auto;
                    display: block;
                    color: #294762;
                    text-align: center;
                }
            }

        }
    }

}




// ===========================  article_support  ============================
// ==========================================================================
// ==========================================================================
// ==========================================================================

.support__container__pc {
    background-color: #fff;
    padding: 30px 30px 30px;
    margin: 20px 0;

    .support__span__pc {
        font-size: 11px;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    h2 {
        margin: 0 auto;
        width: 420px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #343D83;
        background-image: url(../images/article/support-title-pc.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
    }

    .support__contents__pc {
        display: flex;
        justify-content: space-between;

        li {
            width: 31.79%;

            .support__text {
                background-color: #DEF0F7;
                padding: 15px 20px;
                height: 290px;

                label {
                    font-size: 13px;
                    font-weight: bold;
                }

                li {
                    width: 100%;
                    font-size: 12px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}


.support__container__sp {
    padding: 5%;
    background-color: #fff;
    margin: 25px 0 0;

    h2 {
        font-size: calc(18px + 25 * ((100vw - 320px) / 735));
        font-weight: bold;
        color: #343D83;
        text-align: center;
        background-image: url(../images/article/support-title-sp.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        margin-bottom: 3%;
    }

    .support__span__sp {
        display: block;
        
        font-size: calc(10px + 17 * ((100vw - 320px) / 735));
    }

    .support__contents__sp {

        li {
            margin-top: 5%;
            background-color: #DEF0F7;
        }

        .support__img__sp img {
            width: 100%;
        }


        label {
            font-size: calc(14px + 21 * ((100vw - 320px) / 735));

            font-weight: bold;
            display: block;
            text-align: center;
        }

        img {
            width: 90%;
            margin: 0 auto;
            display: block;
        }

        .support__img__sp {
            font-size: calc(8px + 15 * ((100vw - 320px) / 735));
            text-align: center;
            display: block;
            margin-top: 2%;
        }

        .support__text__sp {
            display: block;
            padding: 5%;
            li {
                font-size: calc(12px + 19 * ((100vw - 320px) / 735));
                margin-top: 5px;
            }

            label {
                font-size: calc(12px + 19 * ((100vw - 320px) / 735));
                font-weight: bold;
                text-align: left;
                margin: 10px 0;
            }
        }

        span {
            display: block;
            width: 90%;
            margin: 0 auto;
            font-size: calc(12px + 19 * ((100vw - 320px) / 735));
            text-align: left;
        }
        
    }

}

.bottom__label__pc {
    color: #343D83;
    font-size: 13px;
    text-align: center;
    display: block;
    letter-spacing: 2px;
}
.bottom__label__sp {
    color: #343D83;
    font-size: calc(10px + 17 * ((100vw - 320px) / 735));
    text-align: center;
    display: block;
    letter-spacing: 2px;
    margin-top: 5%;
}

// ===========================  side banner  ================================
// ==========================================================================
// ==========================================================================
// ==========================================================================

.side-banner {
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 0;
    top: 0;
    right: auto;
    justify-content: center;

    ul {
        height: 90%;
        li {
            max-width: 60px;
            min-width: 30px;
            max-height: 386px;
            height: 48%;
            width: auto;

            &:nth-child(2) {
                margin-top: 10px;
            }
            a {
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

// ==============================  footer  ===============================
// =======================================================================
// =======================================================================
// =======================================================================

.footer__banner {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
        width: 35%;
        margin: 0 2.5px;
    }
}

.footer__li {
    width: 83%;
    margin: 5% auto 0;
    display: flex;
    justify-content: space-between;

    li {
        a:link {
            color: #707070;
        }

        &:nth-child(1) a {
            color: #294762;
            font-weight: 600;
        }
    }
}

.footer__bottom {
    margin: 2% auto 5%;
    text-align: center;
    position: relative;
    color: #707070;

    a:link {
        color: #707070;
        border-bottom: 1px solid #707070;
    }

    &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -40px;
            display: inline-block;
            width: 100%;
            height: 1px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #707070;
    }
}

.copyright {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    color: #707070;
    a:link {
        color: #707070;
    }
}

#footer {
    padding: 8px 0 0;
    margin: 0;
}
.footer__banner__sp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
     li {
        width: 49.5%;
     }
}
.footer__li__sp__top li a{
    color: #294762;
    font-weight: 900;
}
.footer__li__sp {
    display: flex;
    justify-content: space-around;
    margin: auto 20px;

    li {
        border-bottom: none!important;
        margin-top: 10px;
        a {
            color: #707070;
        }
    }
}
.footer__bottom__sp {
    margin: 10px auto 0;
    padding-bottom: 10px;
    font-size: 11px;
    letter-spacing: -1px;
    text-align: center;
    color: #707070;
    border-bottom: 1px solid #294762;
    a:link {
        color: #707070;
        border-bottom: 1px solid #707070;
    }
}
.copyright__sp {
    padding: 10px 0;
    text-align: center;
}

.sidebar__left__close {
    background: none!important;
    color: #333!important;
    cursor: pointer;
}